<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{{ asset('images/logo.png') }}" width="100" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Toutes les annonces</a>
        </li>
      </ul>
    </div>
    <a class="btn btn-success" href="{{ path('app_login') }}">Espace Administrateur</a>
  </div>
</nav>